body {
    margin: 0 auto;
    background-color: #0E1117;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

input {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: .5rem 1rem;
    font-size: 1rem
}

img {
    border-radius: 11px;
    max-width: 350px;
    max-height: 350px;
}

button {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: .5rem 1rem;
    font-size: 1rem
}

.result-container {
    margin: 2rem;
    display: flex;
    justify-content: space-between
}

.result-item {
    margin-top: 2rem;
    margin-left: 2rem;
}